/* Topbar List */
.topbar-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    float: left;
}
.topbar-list > li {
    color: #333;
    font-size: 10px;
    padding: 7px 12px;
    position: relative;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
}
.topbar-list > li:not(:first-child):before {
    top: 11px;
    left: -3px;
    width: 1px;
    height: 9px;
    content: ' ';
    background: #333;
    position: absolute;
}

.topbar-list li a {
    color: #333;
}
.topbar-list li a:hover {
    color: #333;
    text-decoration: none;
}


/* Topbar Dropdown */
.topbar-list .topbar-dropdown {
    background-color: #fff;
    border: 1px solid #ddd;
    top: 23px;
    left: -3px;
    z-index: 1;
    display: none;
    padding: 7px 0;
    list-style: none;
    min-width: 125px;
    position: absolute;
}

@media (min-width: 769px) {
    .topbar-list li:hover .topbar-dropdown {
        display: block;
    }
}

.topbar-list .topbar-dropdown li a {
    color: #3498db;
    display: block;
    font-size: 10px;
    padding: 5px 15px;
    margin-bottom: 1px;
    text-transform: uppercase;
}
.topbar-list .topbar-dropdown li a:hover,
.topbar-list .topbar-dropdown li.active a {
    color: #007adb;
}
.topbar-list .topbar-dropdown li a:hover {
    text-decoration: none;
}

/* Topbar Submenu */
.topbar-list .topbar-submenu {
    position: relative;
}
.topbar-list .topbar-submenu > a:after {
    top: 8px;
    right: 9px;
    font-size: 11px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}
.topbar-list .topbar-submenu:hover > .topbar-submenu-in {
    display: block;
}
.topbar-list .topbar-submenu > .topbar-submenu-in {
    top: 0;
    left: 100%;
    float: left;
    z-index: 1000;
    display: none;
    padding: 7px 0;
    font-size: 10px;
    min-width: 125px;
    text-align: left;
    list-style: none;
    background: #151515;
    position: absolute;
    text-transform: uppercase;
}
.topbar-list .topbar-submenu li:before {
    display: none;
}


/* Add here all your css styles (customizations) */

ul.sidebar-nav-lo, .sidebar-nav-lo ul {
    list-style: outside none none;
    color:#333;
    padding: 0;
    margin: 0;
}

.sidebar-nav-lo > li {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 10px 15px;
    position: relative;
    margin:0px;
    padding:0px;
    margin-bottom: -1px;
    padding-left: 0;
}

.sidebar-nav-lo li ul li{
    background: #f8f8f8 none repeat scroll 0 0;
}

.sidebar-nav-lo li a {
    font-weight: bold;
    display: block;
    padding: 8px 30px 8px 10px;
    text-decoration: none;
}

.sidebar-nav-lo li ul li a {
    border-top: 1px solid #ddd;
    font-size: 12px;
    padding: 6px 30px 6px 17px;
    font-weight: normal;
}

.sidebar-nav-lo a.active, .sidebar-nav-lo a.active:hover, .sidebar-nav-lo a.active:focus {
    color: #fff;
    border-color: #ddd;
    background-color: #3498db;
}

/*иконка*/
.sidebar-nav-lo li a::before  {
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    padding-right: 5px;
    color: #3498db;
}

.sidebar-nav-lo li a.active::before {
     color: #fff;
 }