/* Add here all your css styles (customizations) */
/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (max-width: 992px) {
    .row-offcanvas {
        position: relative;
        transition: all 0.25s ease-out 0s;
    }
    .row-offcanvas-right {
        right: 0px;
    }
    .row-offcanvas-left {
        left: 0px;
    }
    .row-offcanvas-right .sidebar-offcanvas {
        right: -50%;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%;
    }
    .row-offcanvas-right.active {
        right: 50%;
    }
    .row-offcanvas-left.active {
        left: 50%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%;
    }

    .btn-off{
        margin-top:-30px;
        margin-left:10px;
        position: absolute;
        z-index: 100;
    }
/*    .row-offcanvas-left.active {
        left: 33%;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -33%;
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 5px;
    }*/

}