/* Add here all your css styles (customizations) */
/*
 * Off Canvas
 * --------------------------------------------------
 */
/* clear paddings */
.clear {
	clear:both;
	font-size:1px;
	height:1px;
	overflow:hidden;
}
.clear2 {
	clear:both;
	font-size:0px;
	height:0px;
	overflow:hidden;
}
.clear_small {
	clear:both;
	font-size:1px;
	height:5px;
	overflow:hidden;
}
.clear_small2 {
	clear: both;
	font-size: 1px;
	height: 2px;
	overflow:hidden;
}
.clear_medium {
	clear: both;
	font-size: 1px;
	height: 10px;
	overflow:hidden;
}
.clear_big {
	clear: both;
	font-size: 1px;
	height: 15px;
	overflow:hidden;
}
/* end clear paddings */

.box {
	margin:0px 2px;
	overflow: hidden; 
    font-size:1px;
	height:1px;


}
.box2 {
	margin:0px 1px;
	overflow: hidden; 
    font-size:1px;
	height:1px;
}
.box3 {
	margin:0px auto;
	overflow: hidden; 
   font-size:1px;
	height:1px;
}
.box4 {
	margin: 0px auto;
	background-color: #fff;
	overflow: hidden; 
    font-size:1px;
	height: 1px;
}

/*Blocks - conent*/

.box_content_s {
	background-color: #87ceeb;
}
.box_content {
	background-color: #C5EAFD;
	border-left:1px solid #87ceeb;
	border-right:1px solid #87ceeb;
}
.box_content2_s {
	border-left: 1px solid #87ceeb;
	border-right: 1px solid #87ceeb;
}
.box_content2 {
	border-left: 3px solid #C5EAFD;
	border-right: 3px solid #C5EAFD;
	background-color: white;
}
.box_content3_s {
	border-left: 1px solid #87ceeb;
	border-right: 1px solid #87ceeb;
}
.box_content3 {
	border-left: 2px solid #C5EAFD;
	border-right: 2px solid #C5EAFD;
	padding: 7px;
	background-color: white;
}
.box_content_full {
	background-color: #87ceeb;
}


/*-------------*/

.box_orange_s {
	background-color: #ffc446;
}
.box_orange {
	background-color: #ffd886;
	border-left:1px solid #ffc446;
	border-right:1px solid #ffc446;
}
.box_orange2_s {
	border-left: 1px solid #ffc446;
	border-right: 1px solid #ffc446;
	background-color: #ffefd5;
}
.box_orange2 {
	border-left: 3px solid #ffd886;
	border-right: 3px solid #ffd886;
	background-color: #ffefd5;
}
.box_orange3_s {
	border-left: 1px solid #ffc446;
	border-right: 1px solid #ffc446;
	background-color: #ffefd5;
}
.box_orange3 {
	border-left: 2px solid #ffd886;
	border-right: 2px solid #ffd886;
	background-color: #ffefd5;
}
.box_orange_full {
	background-color: #ffc446;
}

/*-------------*/

.box_cyan_s {
	background-color: #87ceeb;
}
.box_cyan {
	background-color: #C5EAFD;
	border-left:1px solid #87ceeb;
	border-right:1px solid #87ceeb;
}
.box_cyan2_s {
	border-left: 1px solid #87ceeb;
	border-right: 1px solid #87ceeb;
	background-color: #e5f5ff;
}
.box_cyan2 {
	border-left: 3px solid #C5EAFD;
	border-right: 3px solid #C5EAFD;
	background-color: #e5f5ff;
}
.box_cyan3_s {
	border-left: 1px solid #87ceeb;
	border-right: 1px solid #87ceeb;
	background-color: #e5f5ff;
}
.box_cyan3 {
	border-left: 2px solid #C5EAFD;
	border-right: 2px solid #C5EAFD;
	background-color: #e5f5ff;
}
.box_cyan_full {
	background-color: #87ceeb;
}

/*-------------*/

.box_green_s {
    background-color:#B9E37A;
}
.box_green {
    background-color:#D4F89C;
    border-left:1px solid #B9E37A;
    border-right:1px solid #B9E37A;
}
.box_green2_s {
    border-left:1px solid #B9E37A;
    border-right:1px solid #B9E37A;
}
.box_green2 {
    border-left:3px solid #D4F89C;
    border-right:3px solid #D4F89C;
}
.box_green3_s {
    border-left:1px solid #B9E37A;
    border-right:1px solid #B9E37A;
}
.box_green3 {
    border-left:2px solid #D4F89C;
    border-right:2px solid #D4F89C;
	background-color: white;
	padding: 7px;
}

.box_green_full {
	background-color: #B9E37A;
}

/*-------------*/

.box_pink_s {
    background-color:#d879e3;
}
.box_pink {
    background-color:#ec9cf8;
    border-left:1px solid #d879e3;
    border-right:1px solid #d879e3;
}
.box_pink2_s {
    border-left:1px solid #d879e3;
    border-right:1px solid #d879e3;
}
.box_pink2 {
    border-left:3px solid #ec9cf8;
    border-right:3px solid #ec9cf8;
}
.box_pink3_s {
    border-left:1px solid #d879e3;
    border-right:1px solid #d879e3;
}
.box_pink3 {
    border-left:2px solid #ec9cf8;
    border-right:2px solid #ec9cf8;
	 background-color: white;
}

.box_pink_full {
	background-color: #d879e3;
}